<form [formGroup]="ingredientForm" (ngSubmit)="submitEvent()" novalidate>
    <div class="form-group">
        <label for="name">
            Ingrediente<span class="text-danger">*</span>
        </label>
        <input
            tabindex="1"
            type="text"
            id="name"
            class="form-control"
            placeholder="Deben ser al menos 3 caracteres"
            name="name"
            formControlName="name"
            [class.is-invalid]="ingredientForm.get('name')?.touched && ingredientForm.get('name')?.invalid">
        <div
            class="invalid-feedback"
            *ngIf="ingredientForm.get('name')?.touched && ingredientForm.get('name')?.invalid">
            <div *ngIf="ingredientForm.get('name')?.errors.required">
                El nombre es obligatorio.
            </div>
            <div *ngIf="ingredientForm.get('name')?.errors.minlength">
                {{ ingredientForm.get('name')?.errors.minlength.actualLength + " caracteres de " +  ingredientForm.get('name')?.errors.minlength.requiredLength  + " requeridos." }}
            </div>
            <div *ngIf="ingredientForm.get('name')?.errors.maxlength">
                {{ "El maximo de caracteres permitidos son " + ingredientForm.get('name')?.errors.maxlength.requiredLength }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="priceByUnit">Precio/Unidad</label>
        <input
            tabindex="2"
            step="100"
            type="number"
            id="priceByUnit"
            class="form-control"
            formControlName="priceByUnit"
            [class.is-invalid]="ingredientForm.get('priceByUnit')?.touched && ingredientForm.get('priceByUnit')?.invalid">
        <div
            class="invalid-feedback"
            *ngIf="ingredientForm.get('priceByUnit')?.touched && ingredientForm.get('priceByUnit')?.invalid">
            El precio por unidad es obligatorio.
        </div>
    </div>
    <div class="form-group">
        <label for="amount">Cantidad</label>
        <input
            tabindex="3"
            step="100"
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount"
            [class.is-invalid]="ingredientForm.get('amount')?.touched && ingredientForm.get('amount')?.invalid">
        <div 
            class="invalid-feedback"
            *ngIf="ingredientForm.get('amount')?.touched && ingredientForm.get('amount')?.invalid">
            La cantidad es obligatoria.
        </div>
    </div>
    <input
        type="submit"
        [disabled]="ingredientForm.invalid"
        hidden>
</form>