<form [id]="idForm" [formGroup]="ingredientForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="name"> Ingrediente<span class="text-danger">*</span> </label>
		<input
			tabindex="1"
			type="text"
			id="name"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="name"
			formControlName="name"
			[class.is-invalid]="name?.invalid && name?.touched"
		/>
		<ng-container *ngIf="name?.invalid && name?.touched; then nameError"></ng-container>
	</div>
	<div class="form-group">
		<label for="priceByUnit">Precio/Unidad</label>
		<input
			tabindex="2"
			step="100"
			type="number"
			id="priceByUnit"
			class="form-control"
			formControlName="priceByUnit"
			[class.is-invalid]="priceByUnit?.invalid && priceByUnit?.touched"
		/>
		<ng-container
			*ngIf="priceByUnit?.invalid && priceByUnit?.touched; then priceByUnitError"
		></ng-container>
	</div>
	<div class="form-group">
		<label for="amount">Cantidad</label>
		<input
			tabindex="3"
			step="100"
			type="number"
			id="amount"
			class="form-control"
			formControlName="amount"
			[class.is-invalid]="amount?.invalid && amount?.touched"
		/>
		<ng-container *ngIf="amount?.invalid && amount?.touched; then amountError"></ng-container>
	</div>
</form>
<ng-template #nameError>
	<div class="invalid-feedback">
		<div *ngIf="name?.errors?.required">El nombre es obligatorio.</div>
		<div *ngIf="name?.errors?.minlength">
			{{ name?.errors?.minlength.actualLength }} caracteres de
			{{ name?.errors?.minlength.requiredLength }} requeridos.
		</div>
		<div *ngIf="name?.errors?.maxlength">
			El maximo de caracteres permitidos son {{ name?.errors?.maxlength.requiredLength }}
		</div>
	</div>
</ng-template>
<ng-template #priceByUnitError>
	<div class="invalid-feedback">El precio por unidad es obligatorio.</div>
</ng-template>
<ng-template #amountError>
	<div class="invalid-feedback">La cantidad es obligatoria.</div>
</ng-template>
