<div class="row">
    <div class="col-md-5">
        <app-card-component>
            <div class="card-header">
                Producto
            </div>
            <div class="card-body">
                <app-products-form (onSubmitEvent)="createOrUpdateProduct()" (invalidForm)="invalidForm = $event" (creatingForm)="creating = $event" (inputPrice)="actualizeUtility()"></app-products-form>
            </div>
            <div class="card-footer">
                <ng-container *ngIf="creating else editButtons">
                    <div class="btn-group text-center d-block">
                        <button class="btn btn-success btn-block" (click)="createOrUpdateProduct()" [disabled]="invalidForm">
                            <i class="far fa-save"></i> Guardar
                        </button>
                    </div>
                </ng-container>
                <ng-template #editButtons>
                    <div class="btn-group w-100">
                        <button class="btn btn-info" (click)="createOrUpdateProduct()" [disabled]="invalidForm">
                            <i class="far fa-edit"></i> Editar
                        </button>
                        <button class="btn btn-danger" (click)="deleteProduct()">
                            <i class="far fa-trash-alt"></i> Eliminar
                        </button>
                    </div>
                </ng-template>
            </div>
        </app-card-component>
        <app-card-component>
            <div class="card-header">Utilidad</div>
            <div class="card-body">
                <app-utility-chart chartId="utilityChart"></app-utility-chart>
            </div>
        </app-card-component>
    </div>
    <div class="col-md-7">
        <app-ingredients-form  (inputAmount)="actualizeUtility()"></app-ingredients-form>
    </div>
</div>