<div class="row">
	<div class="col-md-5">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">Producto</div>
					<div class="col text-right">
						<a
							*ngIf="!creating"
							class="btn btn-outline-info btn-sm"
							title="Crea un producto a partir de este"
							[routerLink]="['../../add', { from: formChild.getProductValues().id }]"
						>
							<i class="fas fa-plus" title="Crear"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<app-products-form
					(onSubmitEvent)="createOrUpdateProduct()"
					(invalidForm)="invalidForm = $event"
					(creatingForm)="creating = $event"
					(inputPrice)="actualizeUtility()"
				></app-products-form>
			</div>
			<div class="card-footer">
				<ng-container *ngIf="creating; else editButtons">
					<div class="btn-group text-center d-block">
						<button
							class="btn btn-success btn-block"
							(click)="createOrUpdateProduct()"
							[disabled]="invalidForm"
						>
							<i class="far fa-save" title="Guardar"></i> Guardar
						</button>
					</div>
				</ng-container>
				<ng-template #editButtons>
					<div class="btn-group w-100">
						<button
							class="btn btn-info"
							(click)="createOrUpdateProduct()"
							[disabled]="invalidForm"
						>
							<i class="far fa-edit" title="Editar"></i> Editar
						</button>
						<button class="btn btn-danger" (click)="deleteProduct()">
							<i class="far fa-trash-alt" title="Eliminar"></i> Eliminar
						</button>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<app-ingredients-form (inputAmount)="actualizeUtility()"></app-ingredients-form>
		<div class="card">
			<div class="card-header">Utilidad</div>
			<div class="card-body">
				<app-utility-chart chartId="utilityChart"></app-utility-chart>
			</div>
		</div>
	</div>
</div>
