<div [id]="billId" class="bill" [ngClass]="'w-' + paperSize">
	<div class="header">
		<div class="row company-info">
			<div class="col-sm-auto p-0 img-size">
				<img
					class="img-size"
					[alt]="company.name"
					[title]="company.name"
					[src]="apiUrl + company.image"
					noImage
				/>
			</div>
			<div class="col p-0 name">
				<h4>{{ company.name }}</h4>
			</div>
		</div>
		<p class="message">
			{{ company.billMessage }}
		</p>
	</div>
	<div class="row">
		<div class="col"># {{ bill.idDay | number }}</div>
		<div class="col-8 text-right">
			{{ bill.createdAt | date: 'dd/MM/yyyy HH:mm' }}
		</div>
	</div>
	<div class="text-right font-weight-bold">
		<span *ngIf="!bill.homeDelivery">Local</span>
		<span *ngIf="bill.homeDelivery">Domicilio</span>
	</div>
	<div>
		<p class="m-0">Nombre: {{ bill.clientName ? bill.clientName : client.name }}</p>
		<p class="m-0" *ngIf="client.address">Direccion: {{ client.address }}</p>
		<p class="m-0" *ngIf="client.phoneNumber">Telefono: {{ client.phoneNumber }}</p>
	</div>
	<table class="bill-table" [ngClass]="{ 'messages-active': messages }">
		<thead>
			<tr>
				<th>Producto</th>
				<th *ngIf="messages">Mensaje</th>
				<th class="text-center">Cant</th>
				<th class="text-right">Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of productsInBill">
				<td>{{ product.name }}</td>
				<td *ngIf="messages">
					<p>{{ product.message }}</p>
				</td>
				<td class="text-center">{{ product.amount | number }}</td>
				<td class="text-right">
					{{ product.price * product.amount | number }}
				</td>
			</tr>
		</tbody>
		<tfoot>
			<ng-container *ngIf="bill.homeDelivery">
				<tr>
					<td>Sub-Total</td>
					<td></td>
					<td class="text-right" colspan="2">
						{{ bill.total - bill.homeDelivery | number }}
					</td>
				</tr>
				<tr>
					<td>Domicilio</td>
					<td></td>
					<td class="text-right" colspan="2">
						{{ bill.homeDelivery | number }}
					</td>
				</tr>
			</ng-container>
			<tr class="font-weight-bold">
				<td>Total</td>
				<td></td>
				<td class="text-right" colspan="2">{{ bill.total | number }}</td>
			</tr>
			<ng-container *ngIf="bill.cash && bill.cash > 0">
				<tr class="mt-4">
					<td>Efectivo</td>
					<td></td>
					<td class="text-right" colspan="2">{{ bill.cash | number }}</td>
				</tr>
				<tr class="font-weight-bold">
					<td>Cambio</td>
					<td></td>
					<td class="text-right" colspan="2">
						{{ bill.cash - bill.total | number }}
					</td>
				</tr>
			</ng-container>
		</tfoot>
	</table>
</div>
