.bill {
	height: auto;
	margin: auto;
	font-size: 4mm;
	font-family: sans-serif;
	.header {
		.company-info {
			margin: 0 0 1.5mm 0;
			.name {
				margin: auto 0 auto 1.5mm;
				h4 {
					font-size: 6mm;
					font-weight: bold;
				}
			}
		}
		.message {
			border: solid black 0.5mm;
			padding: 1mm;
			white-space: pre-line;
		}
	}
}

.img-size {
	width: 20mm;
	height: 20mm;
}

.bill-table {
	width: 100%;
	margin: 1.5mm 0 1.5mm;
	tbody {
		tr {
			td {
				word-break: break-word;
			}
		}
	}
}
