.bill.w-48mm {
	// 48mm - 2mm (Margin)
	width: 46mm;
	height: auto;
	margin: auto;
	font-size: 3.5mm;
	font-family: sans-serif;
	.header {
		.company-info {
			margin: 0 0 1.5mm 0;
			.name {
				margin: auto 0 auto 1.5mm;
				h4 {
					font-size: 5mm;
					font-weight: bold;
				}
			}
		}
		.message {
			border: solid black 0.5mm;
			padding: 1mm;
			white-space: pre-line;
		}
	}
	.img-size {
		width: 15mm;
		height: 15mm;
	}
	.bill-table {
		margin: 1.5mm 0 1.5mm;
		&.messages-active {
			font-size: 3.2mm;
		}
		tbody {
			tr {
				td {
					word-break: break-word;
				}
			}
		}
	}
}
