<form [id]="idForm" [formGroup]="categoryForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="name"> Categoria<span class="text-danger">*</span> </label>
		<input
			tabindex="1"
			type="text"
			id="name"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="name"
			formControlName="name"
			[class.is-invalid]="name?.invalid && name?.touched"
		/>
		<ng-container *ngIf="name?.invalid && name?.touched; then nameError"></ng-container>
	</div>
</form>
<ng-template #nameError>
	<div class="invalid-feedback">
		<div *ngIf="name?.errors?.required">El nombre es obligatorio.</div>
		<div *ngIf="name?.errors?.minlength">
			{{ name?.errors?.minlength.actualLength }} caracteres de
			{{ name?.errors?.minlength.requiredLength }} requeridos.
		</div>
		<div *ngIf="name?.errors?.maxlength">
			El maximo de caracteres permitidos son {{ name?.errors?.maxlength.requiredLength }}
		</div>
	</div>
</ng-template>
