<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
	<a class="navbar-brand" (click)="to('page-top', 0)" routerLink="/">Caja Registradora</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#home-navbar"
		aria-controls="home-navbar"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="home-navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="to('about', 1)"
					[ngClass]="{ active: addActive[1] }"
					routerLink="/"
					>Acerca de</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="to('services', 2)"
					[ngClass]="{ active: addActive[2] }"
					routerLink="/"
					>Servicios</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="to('contact', 3)"
					[ngClass]="{ active: addActive[3] }"
					routerLink="/"
					>Contacto</a
				>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a
					class="nav-link"
					routerLink="/signIn"
					routerLinkActive="active"
					(click)="to('page-top', 0)"
					>Ingresar</a
				>
			</li>
		</ul>
	</div>
</nav>
