<form [id]="idForm" [formGroup]="clientForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="name"> Cliente<span class="text-danger">*</span> </label>
		<input
			tabindex="1"
			type="text"
			id="name"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="name"
			formControlName="name"
			[class.is-invalid]="clientForm.get('name')?.touched && clientForm.get('name')?.invalid"
		/>
		<div
			class="invalid-feedback"
			*ngIf="clientForm.get('name')?.touched && clientForm.get('name')?.invalid"
		>
			<div *ngIf="clientForm.get('name')?.errors['required']">El nombre es obligatorio.</div>
			<div *ngIf="clientForm.get('name')?.errors['minlength']">
				{{
					clientForm.get('name')?.errors['minlength'].actualLength +
						' caracteres de ' +
						clientForm.get('name')?.errors['minlength'].requiredLength +
						' requeridos.'
				}}
			</div>
			<div *ngIf="clientForm.get('name')?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						clientForm.get('name')?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="address">Direccion</label>
		<input
			tabindex="2"
			type="text"
			id="address"
			class="form-control"
			name="address"
			formControlName="address"
		/>
	</div>
	<div class="form-group">
		<label for="phoneNumber">Telefono</label>
		<input
			tabindex="3"
			type="text"
			id="phoneNumber"
			class="form-control"
			name="phoneNumber"
			formControlName="phoneNumber"
		/>
	</div>
</form>
