@import 'styles/variables.scss';

.nav-link {
	align-items: center;
	position: relative;
	color: $sidenav-dark-link-color;
	.nav-link-icon {
		font-size: 0.9rem;
		margin-right: 0.5rem;
		color: $sidenav-dark-icon-color;
	}
	.sidenav-collapse-arrow {
		display: inline-block;
		margin-left: auto;
		transition: transform 0.15s ease;
		color: $sidenav-dark-icon-color;
	}
	&.collapsed {
		.sidenav-collapse-arrow {
			transform: rotate(-90deg);
		}
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 1.5rem;
		width: 0;
		left: 0;
		background-color: $sidenav-dark-link-active-color;
		transition: all 0.2s ease-in-out;
	}
	&.active {
		color: $sidenav-dark-link-active-color;
		.nav-link-icon {
			color: $sidenav-dark-link-active-color;
		}
		&::before {
			width: 0.2rem;
		}
	}
	&:hover {
		color: $sidenav-dark-link-active-color;
		.nav-link-icon {
			color: $sidenav-dark-link-active-color;
		}
		&::before {
			width: 0.2rem;
		}
	}
}
.sidenav-menu-nested {
	margin-left: 1.5rem;
	flex-direction: column;
}
