<a class="nav-link" [routerLink]="sideNavItem.link" routerLinkActive="active" (click)="expanded = !expanded" [ngClass]="{ collapsed: !expanded }">
    <div class="sb-nav-link-icon" *ngIf="sideNavItem.icon">
        <i [ngClass]="['fas', sideNavItem.icon]"></i>
    </div>
    {{ sideNavItem.text }}
    <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down ml-auto" *ngIf="sideNavItem.submenu"></i>
    </div>
</a>
<nav class="sb-sidenav-menu-nested nav" *ngIf="sideNavItem.submenu && expanded">
    <app-side-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem.submenu" [sideNavItem]="submenuItem"></app-side-nav-item>
</nav>