<a
	class="nav-link my-2 d-flex"
	[routerLink]="sideNavItem.link"
	[routerLinkActive]="sideNavItem.activeClass ? 'active' : ''"
	[routerLinkActiveOptions]="{ exact: true }"
	(click)="expanded = !expanded"
	[ngClass]="{ collapsed: !expanded }"
>
	<div class="nav-link-icon" *ngIf="sideNavItem.icon">
		<i [ngClass]="['fas', sideNavItem.icon]" [title]="sideNavItem.text"></i>
	</div>
	{{ sideNavItem.text }}
	<div class="sidenav-collapse-arrow">
		<i class="fas fa-angle-down ml-auto" title="Desplegar" *ngIf="sideNavItem.submenu"></i>
	</div>
</a>
<nav class="sidenav-menu-nested nav" *ngIf="sideNavItem.submenu && expanded">
	<app-side-nav-item
		class="submenu"
		*ngFor="let submenuItem of sideNavItem.submenu"
		[sideNavItem]="submenuItem"
	></app-side-nav-item>
</nav>
