<header class="bg-primary text-white" id="page-top">
	<div class="container text-center">
		<h1>Bienvenido A La Caja Registradora</h1>
		<p class="lead">Hecha por: Juan David Gaviria Correa</p>
	</div>
</header>
<app-home-section id="about">
	<h2>Acerca de esta pagina</h2>
	<p class="lead">
		Esta pagina la hago con la intencion de mostrarla como portafolio cuando este buscando
		trabajo.
	</p>
</app-home-section>
<app-home-section id="services" sectionClass="bg-light">
	<h2>Servicios</h2>
	<ul>
		<li>Puedes administrar tu negocio facilmente</li>
		<li>Proximamente se podran hacer pedidos</li>
	</ul>
</app-home-section>
<app-home-section id="contact">
	<h2>Contactanos</h2>
	<p class="lead">Aqui van los datos de contacto o incluso un formulario.</p>
</app-home-section>
