<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-5">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Ingresar</h5>
					<form class="form-signin" #formSignIn="ngForm">
						<div class="form-label-group">
							<input
								tabindex="1"
								type="text"
								class="form-control"
								[ngClass]="{ 'is-invalid': error[0] }"
								placeholder="Usuario"
								name="username"
								#username="ngModel"
								[(ngModel)]="user.username"
								required
							/>
							<div class="invalid-feedback">Ingresa un nombre de usuario valido.</div>
						</div>
						<div class="form-label-group">
							<input
								tabindex="2"
								type="password"
								class="form-control"
								[ngClass]="{ 'is-invalid': error[1] }"
								placeholder="Contraseña"
								name="password"
								#password="ngModel"
								[(ngModel)]="user.password"
								(keydown.enter)="enterEvent($event)"
								required
							/>
							<div class="invalid-feedback">Contraseña incorrecta.</div>
						</div>

						<div class="custom-control custom-checkbox mb-3">
							<input
								tabindex="3"
								type="checkbox"
								class="custom-control-input"
								id="rememberedUser"
								name="rememberedUser"
								[(ngModel)]="rememberedUser"
							/>
							<label class="custom-control-label" for="rememberedUser"
								>Recordar Usuario</label
							>
						</div>
						<button
							tabindex="4"
							type="button"
							class="btn btn-lg btn-primary btn-block text-uppercase"
							(click)="signIn()"
							[disabled]="formSignIn.invalid"
						>
							Ingresar
						</button>
					</form>
				</div>
				<div class="card-footer text-center">
					<div class="small">
						<a routerLink="/">¿Quieres trabajar con nosotros? contáctanos.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
