<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Iniciar Seccion
            </div>
            <div class="card-body">
                <form #formSignIn="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="userName" #userName="ngModel" [(ngModel)]="user.userName" autofocus required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                    </div>
                </form>
                <button type="button" (click)="signIn()" class="btn btn-block btn-primary text-center" [disabled]="!formSignIn">Ingresar</button>
            </div>
        </div>
    </div>
</div>
