<ng-container *ngIf="shoppingCart.length > 0; else noContent">
	<ng-container *ngTemplateOutlet="options"></ng-container>
	<div class="row my-3 mx-md-2">
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th class="w-20">Nombre</th>
					<th class="w-10">Precio</th>
					<th class="w-20">Cantidad</th>
					<th class="w-40">Mensaje</th>
					<th class="w-10">Acciones</th>
				</tr>
			</thead>
			<tfoot *ngIf="shoppingCart.length >= 10">
				<tr>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Cantidad</th>
					<th>Mensaje</th>
					<th>Acciones</th>
				</tr>
			</tfoot>
			<tbody>
				<tr *ngFor="let productInCart of shoppingCart; let i = index">
					<td>{{ productInCart.product.name }}</td>
					<td>{{ productInCart.total | number }}</td>
					<td>
						<input
							[tabindex]="i + 1"
							type="number"
							class="form-control"
							[(ngModel)]="productInCart.amount"
							(keydown.enter)="actualizePrice()"
							(focusout)="actualizePrice()"
						/>
					</td>
					<td>
						<textarea
							name="message"
							class="form-control"
							rows="2"
							[(ngModel)]="productInCart.message"
						></textarea>
					</td>
					<td class="text-center">
						<button class="btn btn-danger text-center" (click)="deleteProduct(i)">
							<i class="far fa-minus-square" title="Quitar producto del carrito"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row mx-md-2">
		<div class="col-sm-12 col-md-6 p-0">
			<h4 class="text-dark">
				Total: <span class="strong text-muted">{{ total | number }}</span>
			</h4>
		</div>
		<div class="col-sm-12 col-md-6 p-0 text-right">
			<button class="btn btn-info btn-sm-block mr-md-2" (click)="refreshPageEvent()">
				Cancelar
			</button>
			<button
				class="btn btn-success btn-sm-block"
				[disabled]="shoppingCart.length == 0 || (cash && cash < total)"
				(click)="finishOrder()"
				data-toggle="modal"
				data-target="#modalBills"
			>
				<i class="far fa-file" title="Registro"></i> Terminar Pedido
			</button>
		</div>
	</div>
</ng-container>
<ng-template #options>
	<div class="row mx-md-2">
		<div class="col-12 col-md-6 mb-2 pl-0">
			<div class="form-group">
				<input
					maxlength="30"
					type="text"
					class="form-control"
					id="clientName"
					[(ngModel)]="clientName"
					placeholder="Nombre Del Cliente"
					[readonly]="client.name"
				/>
			</div>
		</div>
	</div>
	<div class="row mx-md-2">
		<div class="col-12 col-md-6 mb-2 pl-0" *ngIf="company.homeDelivery">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input
							type="checkbox"
							[(ngModel)]="doHomeDelivery"
							(change)="homeDeliveryChange()"
						/>
					</div>
				</div>
				<input
					min="0"
					step="1000"
					type="number"
					class="form-control"
					[placeholder]="!doHomeDelivery ? 'Domicilio' : 'Precio Del Domicilo'"
					[readonly]="!doHomeDelivery"
					[(ngModel)]="homeDelivery"
					(input)="actualizePrice()"
				/>
			</div>
		</div>
		<div class="col-12 col-md-6 mb-2 pr-0">
			<div class="form-group">
				<input
					min="0"
					step="1000"
					type="number"
					class="form-control"
					id="cash"
					[(ngModel)]="cash"
					placeholder="Efectivo"
				/>
			</div>
		</div>
	</div>
</ng-template>
<ng-template #noContent> Aun no tienes ningun producto seleccionado. </ng-template>
<!-- Custom Modal For Events In Close -->
<div
	class="modal fade"
	id="modalBills"
	aria-labelledby="modalBillsTitleModalId"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
	data-backdrop="static"
	data-keyboard="false"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalBillsTitleModalId">Pedido Finalizado</h5>
				<button
					type="button"
					data-dismiss="modal"
					class="close"
					aria-label="Close"
					(click)="refreshPageEvent()"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<app-bill-view billId="mainBill"></app-bill-view>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-info text-center"
					data-dismiss="modal"
					(click)="refreshPageEvent()"
				>
					Salir
				</button>
				<app-print-bill elementId="mainBill"></app-print-bill>
			</div>
		</div>
	</div>
</div>
