<form [id]="idForm" [formGroup]="adminForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="username">Nombre De Usuario<span class="text-danger">*</span> </label>
		<input
			tabindex="1"
			type="text"
			id="username"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="username"
			formControlName="username"
			[class.is-invalid]="username?.touched && username?.invalid"
		/>
		<div class="invalid-feedback" *ngIf="username?.touched && username?.invalid">
			<div *ngIf="username?.errors['required']">El nombre de usuario es obligatorio.</div>
			<div *ngIf="username?.errors['minlength']">
				{{
					username?.errors['minlength'].actualLength +
						' caracteres de ' +
						username?.errors['minlength'].requiredLength +
						' requeridos.'
				}}
			</div>
			<div *ngIf="username?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						username?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="name">Nombre<span class="text-danger">*</span> </label>
		<input
			tabindex="2"
			type="text"
			id="name"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="name"
			formControlName="name"
			[class.is-invalid]="name?.touched && name?.invalid"
		/>
		<div class="invalid-feedback" *ngIf="name?.touched && name?.invalid">
			<div *ngIf="name?.errors['required']">El nombre es obligatorio.</div>
			<div *ngIf="name?.errors['minlength']">
				{{
					name?.errors['minlength'].actualLength +
						' caracteres de ' +
						name?.errors['minlength'].requiredLength +
						' requeridos.'
				}}
			</div>
			<div *ngIf="name?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						name?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="idCompany">Compañia<span class="text-danger">*</span> </label>
		<select
			tabindex="3"
			type="text"
			id="idCompany"
			class="form-control"
			name="idCompany"
			formControlName="idCompany"
			[class.is-invalid]="idCompany?.touched && idCompany?.invalid"
		>
			<option *ngIf="creating" [ngValue]="null">Ninguna</option>
			<option *ngFor="let company of companies" [ngValue]="company.id">
				{{ company.name }}
			</option>
		</select>
		<div class="invalid-feedback" *ngIf="idCompany?.touched && idCompany?.invalid">
			<div *ngIf="creating && idCompany?.errors['required']">La compañia es obligatoria.</div>
		</div>
	</div>
</form>
