<li class="nav-item dropdown dropdown-user no-caret">
	<a
		class="nav-link dropdown-toggle"
		id="userDropdown"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>
		<i class="fas fa-user" title="Usuario"></i>
	</a>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
		<h6 class="dropdown-header">
			<div class="dropdown-user-details">
				<div class="dropdown-user-details-name text-dark">{{ user.name }}</div>
				<div class="dropdown-user-details-email">
					<ng-container [ngSwitch]="user.role">
						<span *ngSwitchCase="'cashier'">Cajero</span>
						<span *ngSwitchCase="'admin'">Administrador</span>
						<span *ngSwitchCase="'superadmin'">Super Administrador</span>
						<div *ngSwitchDefault>Sin rol</div>
					</ng-container>
				</div>
			</div>
		</h6>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" routerLink="/company/configuration/me" routerLinkActive="active">
			Configuracion
		</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" (click)="logOut()">
			<i class="fas fa-sign-out-alt" title="Salir"></i> Cerrar Seccion
		</a>
	</div>
</li>
