<div class="row mt-2" *ngIf="!loading; else loadingT">
	<div class="col-12 col-md-4">
		<div class="card">
			<div class="card-header">
				<h6 class="card-title m-0">Compañia</h6>
			</div>
			<img
				[src]="apiUrl + company.image"
				noImage
				class="card-img-top shadow-sm"
				[alt]="company.name + 'imagen'"
			/>
			<div class="card-body">
				<h4 class="card-title">{{ company.name }}</h4>
				<p class="card-text">
					<span class="font-weight-bold">Mensaje del registro:</span>
					{{ company.ticketMessage }}
				</p>
			</div>
			<div class="card-footer text-right">
				<a class="btn btn-info" routerLink="edit">
					<i class="fas fa-cog" title="Configuracion"></i> Editar
				</a>
			</div>
		</div>
	</div>
</div>
<ng-template #loadingT>
	<app-loading colorClass="text-primary" size="10rem"></app-loading>
</ng-template>
