<div class="row mt-2">
	<div class="col-12 col-md-4">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-8 col-md-12 col-lg-8">
						<h2 class="card-title m-0">Compañia</h2>
					</div>
					<div class="col-4 col-md-12 col-lg-4 text-right">
						<a class="btn btn-info w-100" routerLink="edit">
							<i class="fas fa-cog" title="Configuracion"></i> Editar
						</a>
					</div>
				</div>
			</div>
			<img
				class="card-img-top shadow-sm"
				[src]="apiUrl + company.image"
				noImage
				[alt]="company.name + 'imagen'"
			/>
			<div class="card-body">
				<h4 class="card-title">{{ company.name }}</h4>
				<h6>Mensaje del registro:</h6>
				<p class="card-text message">
					{{ company.billMessage }}
				</p>
			</div>
		</div>
	</div>
</div>
