<form [formGroup]="productForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="idCategory">Categoria<span class="text-danger">*</span> </label>
		<select
			tabindex="1"
			type="text"
			id="idCategory"
			class="form-control"
			name="idCategory"
			formControlName="idCategory"
			[class.is-invalid]="
				productForm.get('idCategory')?.touched && productForm.get('idCategory')?.invalid
			"
		>
			<option *ngIf="creating" [ngValue]="null">Ninguna</option>
			<option *ngFor="let category of categories" [ngValue]="category.id">
				{{ category.name }}
			</option>
		</select>
		<div
			class="invalid-feedback"
			*ngIf="productForm.get('idCategory')?.touched && productForm.get('idCategory')?.invalid"
		>
			<div *ngIf="creating && productForm.get('idCategory')?.errors['required']">
				La categoria es obligatoria.
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="name">Producto<span class="text-danger">*</span> </label>
		<input
			tabindex="2"
			type="text"
			id="name"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="name"
			formControlName="name"
			[class.is-invalid]="
				productForm.get('name')?.touched && productForm.get('name')?.invalid
			"
		/>
		<div
			class="invalid-feedback"
			*ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid"
		>
			<div *ngIf="productForm.get('name')?.errors['required']">El nombre es obligatorio.</div>
			<div *ngIf="productForm.get('name')?.errors['minlength']">
				{{
					productForm.get('name')?.errors['minlength'].actualLength +
						' caracteres de ' +
						productForm.get('name')?.errors['minlength'].requiredLength +
						' requeridos.'
				}}
			</div>
			<div *ngIf="productForm.get('name')?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						productForm.get('name')?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="description">Descripcion</label>
		<textarea
			rows="4"
			tabindex="3"
			class="form-control"
			id="description"
			name="description"
			formControlName="description"
			[class.is-invalid]="
				productForm.get('description')?.touched && productForm.get('description')?.invalid
			"
		></textarea>
		<div
			class="invalid-feedback"
			*ngIf="
				productForm.get('description')?.touched && productForm.get('description')?.invalid
			"
		>
			<div *ngIf="productForm.get('description')?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						productForm.get('description')?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="price">Precio</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-dollar-sign" title="Precio"></i>
				</span>
			</div>
			<input
				tabindex="4"
				step="100"
				type="number"
				id="price"
				class="form-control"
				formControlName="price"
				[class.is-invalid]="
					productForm.get('price')?.touched && productForm.get('price')?.invalid
				"
				(input)="inputPriceEvent()"
			/>
			<div
				class="invalid-feedback"
				*ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid"
			>
				<div *ngIf="productForm.get('price')?.errors['required']">
					El precio es obligatorio
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img
						[src]="imagePreview"
						noImage
						class="card-img-top border-bottom image-input"
						title="Subir imagen"
						[alt]="productForm.value.name + '-logo'"
						(click)="imageInput.click()"
					/>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h4 class="card-title">Escojer Imagen</h4>
						<button
							type="button"
							class="btn btn-info btn-block"
							(click)="imageInput.click()"
						>
							<i class="fas fa-file-upload" title="Subir imagen"></i> Subir imagen
						</button>
						<input
							#imageInput
							tabindex="5"
							type="file"
							id="image"
							class="d-none"
							name="image"
							formControlName="image"
							accept=".jpg, .jpeg, .png"
							(change)="onFileChange($event)"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="submit" [disabled]="productForm.invalid" hidden />
</form>
