<nav class="sidenav accordion" id="sidenavAccordion">
	<div class="sidenav-menu">
		<div class="nav">
			<ng-container *ngFor="let section of sideNavSections">
				<div class="sidenav-menu-heading" *ngIf="section.text">{{ section.text }}</div>
				<ng-container *ngFor="let item of section.items">
					<app-side-nav-item [sideNavItem]="sideNavItems[item]"></app-side-nav-item>
				</ng-container>
			</ng-container>
		</div>
	</div>
	<div class="sidenav-footer">
		<div class="row">
			<div class="col-4">
				<img
					[src]="apiUrl + company.image"
					noImage
					class="rounded float-left img-fluid"
					[alt]="company.name"
				/>
			</div>
			<div class="col company-name">
				<h4 class="m-0">{{ company.name }}</h4>
			</div>
		</div>
	</div>
</nav>
