// Spacing variables for navigation
$topnav-base-height: 56px;
$sidenav-base-width: 225px;

// Z index variables
$zindex-sidenav: 1080 !default;
$zindex-topnav: 1090 !default;
// Alerts up modals
$zindex-companyModal: 2000 !default;
$zindex-sweetalert: 2100 !default;

// Color variables for the sidenav
$sidenav-dark-bg: $gray-900;
$sidenav-dark-color: fade-out($white, 0.5);
$sidenav-dark-heading-color: fade-out($white, 0.75);
$sidenav-dark-link-color: fade-out($white, 0.5);
$sidenav-dark-link-active-color: $white;
$sidenav-dark-icon-color: fade-out($white, 0.75);
$sidenav-dark-footer-bg: $gray-800;

// Color variables for the topnav
$topnav-dark-toggler-color: fade-out($white, 0.5);
$topnav-light-toggler-color: $gray-900;
