<form [id]="idForm" [formGroup]="companyForm" (ngSubmit)="submitEvent()" novalidate>
	<div class="form-group">
		<label for="name">Nombre<span class="text-danger">*</span> </label>
		<input
			tabindex="1"
			type="text"
			id="name"
			class="form-control"
			placeholder="Deben ser al menos 3 caracteres"
			name="name"
			formControlName="name"
			[class.is-invalid]="
				companyForm.get('name')?.touched && companyForm.get('name')?.invalid
			"
		/>
		<div
			class="invalid-feedback"
			*ngIf="companyForm.get('name')?.touched && companyForm.get('name')?.invalid"
		>
			<div *ngIf="companyForm.get('name')?.errors['required']">El nombre es obligatorio.</div>
			<div *ngIf="companyForm.get('name')?.errors['minlength']">
				{{
					companyForm.get('name')?.errors['minlength'].actualLength +
						' caracteres de ' +
						companyForm.get('name')?.errors['minlength'].requiredLength +
						' requeridos.'
				}}
			</div>
			<div *ngIf="companyForm.get('name')?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						companyForm.get('name')?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="billMessage">Mensaje Del Registro</label>
		<textarea
			tabindex="2"
			id="billMessage"
			class="form-control"
			name="billMessage"
			formControlName="billMessage"
			[class.is-invalid]="
				companyForm.get('billMessage')?.touched && companyForm.get('billMessage')?.invalid
			"
		></textarea>
		<div
			class="invalid-feedback"
			*ngIf="
				companyForm.get('billMessage')?.touched && companyForm.get('billMessage')?.invalid
			"
		>
			<div *ngIf="companyForm.get('billMessage')?.errors['maxlength']">
				{{
					'El maximo de caracteres permitidos son ' +
						companyForm.get('billMessage')?.errors['maxlength'].requiredLength
				}}
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-12 col-md-4">
			<div class="card card-image">
				<img
					[src]="imagePreview"
					noImage
					class="card-img-top border-bottom image-input"
					title="Subir imagen"
					[alt]="companyForm.value.name + '-logo'"
					(click)="imageInput.click()"
				/>
				<div class="card-body">
					<div class="row">
						<div class="col-8">
							<h5 class="card-title m-0">Escojer Imagen</h5>
						</div>
						<div class="col text-center">
							<button type="button" class="btn btn-info" (click)="imageInput.click()">
								<i class="fas fa-file-upload" title="Subir imagen"></i>
							</button>
						</div>
					</div>
					<input
						#imageInput
						tabindex="4"
						type="file"
						id="image"
						class="d-none"
						name="image"
						formControlName="image"
						accept=".jpg, .jpeg, .png"
						(change)="onFileChange($event)"
					/>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-8 mt-2 mt-md-0">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title m-0">Otras opciones</h5>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="form-check">
							<input
								tabindex="3"
								class="form-check-input"
								type="checkbox"
								id="visible"
								name="visible"
								formControlName="visible"
							/>
							<label class="form-check-label" for="visible">Visible</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-check">
							<input
								tabindex="3"
								class="form-check-input"
								type="checkbox"
								id="homeDeliveries"
								name="homeDeliveries"
								formControlName="homeDeliveries"
							/>
							<label class="form-check-label" for="homeDeliveries">Domicilios</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
