<div class="row my-3">
	<div class="col">
		<a class="btn btn-info" routerLink="./" target="_blank">Abrir otra registradora</a>
	</div>
</div>
<div class="row my-3">
	<div class="col-md-6">
		<div class="card h-100">
			<div class="card-header">Cliente</div>
			<div class="card-body">
				<div>
					<app-client-picker (choseClient)="client = $event"></app-client-picker>
				</div>
				<div class="mt-2">
					<app-view-client [client]="client"></app-view-client>
				</div>
				<button class="btn btn-info btn-block mb-2" (click)="refreshPage()">
					Desmarcar
				</button>
				<app-create-client (newClient)="newClient($event)"></app-create-client>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card h-100">
			<div class="card-header">Productos</div>
			<div class="card-body">
				<app-products-table (addProduct)="addProductEvent($event)"></app-products-table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">Lista</div>
			<div class="card-body">
				<app-shopping-cart
					[client]="client"
					(refreshPage)="refreshPage()"
				></app-shopping-cart>
			</div>
		</div>
	</div>
</div>
