<div class="input-group mb-2">
	<div class="input-group-prepend">
		<span class="input-group-text font-weight-bold">Nombre</span>
	</div>
	<input type="text" class="form-control text-dark" [attr.value]="client.name" readonly />
</div>
<div class="input-group mb-2">
	<div class="input-group-prepend">
		<span class="input-group-text font-weight-bold">Direccion</span>
	</div>
	<input type="text" class="form-control text-dark" [attr.value]="client.address" readonly />
</div>
<div class="input-group mb-2">
	<div class="input-group-prepend">
		<span class="input-group-text font-weight-bold">Telefono</span>
	</div>
	<input type="text" class="form-control text-dark" [attr.value]="client.phoneNumber" readonly />
</div>
