<div *ngIf="products">
    <div class="mb-4">
        <button class="btn btn-info btn-block" routerLink="/products/add" ><i class="fas fa-plus-circle"></i> Crear Producto</button>
        <div class="input-group mt-1">
            <div class="input-group-prepend"><span class="input-group-text">Buscar</span></div>
            <input type="text" class="form-control" placeholder="Nombre" name="filter" [(ngModel)]="filterPost">
        </div>
    </div>    
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed" style="width:100%">
        <thead class="text-center">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | filter:filterPost">                
                <td class="align-middle">{{ product.name }}</td>
                <td class="align-middle text-center">{{ product.price | thousandsPipe }}</td>
                <td>
                    <div class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-info" [routerLink]="['/product/edit/', product._id]"><i class="far fa-edit"></i></button>
                            <button class="btn btn-danger" (click)="deleteProduct(product._id)"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<div *ngIf="!products">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" style="height: 5rem; width: 5rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>