<div *ngIf="company">
	<img [src]="company.image" class="rounded" alt title style="width: 54px; height: 54px" />
	<h2 class="d-inline-block text-center">
		{{ company.name }}
	</h2>
	<p class="text-center text-justify border border-dark p-2 my-2">
		{{ company.ticketMessage }}
	</p>
</div>
<p>
	<span class="font-weight-bold">Nombre:</span> {{ client.name }} |
	<ng-container *ngIf="ticket.homeDelivery; else noHomeDelivery">
		<span class="font-weight-bold">Domicilio</span>
		<span *ngIf="client.address"> | Direccion: {{ client.address }}</span>
		<span *ngIf="client.phoneNumber"> | Telefono: {{ client.phoneNumber }} </span>
	</ng-container>
	<ng-template #noHomeDelivery>
		<span class="font-weight-bold"> Pedido Local </span>
	</ng-template>
</p>
<table class="table table-sm my-2">
	<thead>
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Precio</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let productInTicket of productsInTicket">
			<td>{{ productInTicket.name }}</td>
			<td>{{ productInTicket.amount | number }}</td>
			<td>{{ productInTicket.price * productInTicket.amount | number }}</td>
		</tr>
	</tbody>
	<tfoot class="font-weight-bold">
		<ng-container *ngIf="ticket.homeDelivery">
			<tr>
				<td>Sub-Total</td>
				<td></td>
				<td>
					{{ ticket.total - ticket.homeDelivery | number }}
				</td>
			</tr>
			<tr>
				<td>Domicilio</td>
				<td></td>
				<td>{{ ticket.homeDelivery | number }}</td>
			</tr>
		</ng-container>
		<tr>
			<td>Total</td>
			<td></td>
			<td>{{ ticket.total | number }}</td>
		</tr>
	</tfoot>
</table>
